<!DOCTYPE html>
<html>
    <head>
        <title>Courses</title>
        {% extends "base.html" %}
        {% load static %}
        <link rel = "stylesheet" href = "{% static '/styles/app1styles.css' %}">
    </head>
    <body background="{% static '/images/blueBG.jpg' %}">

       {% block content %}
            <p>
             <a href ="{% url 'homel' %}">Home</a> |
            <a href ="#">Courses</a> |
            <a href = "{% url 'branchesl' %}">Branches</a> |
            <a href = "{% url 'contactl' %}">Contact</a> |
            <a href = "{% url 'studentsl' %}">Students List</a> |
            <a href = "{% url 'signupl' %}">Students Signup</a> |
            <a href = "{% url 'signinl' %}">Students signin</a>
            </p>

            <hr>
            <u>Courses List :</u>
            <ol type = "I">
                <li>Java</li>
                <li>Python</li>
                <li>DevOps</li>
            </ol>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
       {% endblock %}
    </body>
</html>